.icon_picker_wrapper
{
	padding: 0px 0px 0px 0px;
}
.icon_picker_head
{
	padding: 0px 0px 15px 0px;
	border-bottom: solid 1px #cccccc;
}
.icon_picker_main
{
	padding: 0px 0px 0px 0px;
}
select.icon-category-select
{
	font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif
}