.icon_picker_wrapper
{
	padding: 30px 30px 30px 30px;
}
.icon_picker_head
{
	padding: 0px 0px 15px 0px;
	border-bottom: solid 1px #cccccc;
}
.icon_picker_main
{
	padding: 0px 0px 0px 0px;
}
select.icon-category-select
{
	font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif
}
.icon_picker_save
{
	margin: 15px 0px 0px 0px;
}


/* Only Temporary */
#icon_code
{
	display: inline-block;
	margin: 30px 0px 0px 0px;
	padding: 10px;
	border: solid 1px #666666;
	background-color: #cccccc;
	font-size: 20px;
	font-weight: bold;
}