<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
	<f:layout name="Module" />

	<f:section name="Content">
		<f:be.pageRenderer
			includeCssFiles="{cssArr}"
			includeJsFiles="{jsArr}"
		/>
		<h1><img src="{f:uri.resource(path:'Icons/alm_iconpicker.png', extensionName: 'alm_iconpicker')}" class="img-rounded" height="64" width="64"> {f:translate(key: 'LLL:EXT:alm_iconpicker/Resources/Private/Language/locallang.xlf:mod.header')} <small>({f:translate(key: 'LLL:EXT:alm_iconpicker/Resources/Private/Language/locallang.xlf:mod.subheader')})</small></h1>
		
		<div class="icon_picker_wrapper">
			<div class="icon_picker_main">
				<input type="text" id="icon_element" name="icon_element" data-iconlist="{iconList}" data-curicon="{linkParameter.currentValue}" />
				<div>
					<div id="icon_code">select icon and copy the code from here</div>
				</div>
				<f:comment>
					<div class="icon_picker_save">
						<button class="btn btn-primary" data-method="reset" title="Save"><i class="fa fa-save"></i> Save</button>
					</div>
				</f:comment>
			</div>
		</div>
	</f:section>

</html>